.App {
  text-align: center;
}

.App-logo {
  width: 25%;
  padding: 0;
  margin: 0;
  align-self: baseline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

Input {
  margin: 1%;
}

Button {
  margin: 1%;
  padding: 1%;
}

#professor_message{
  height: 15%;
  width: 30%;
}
.message-form {
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 auto
}
.message-area {
  margin: 0 auto;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
}

.home_page {
  width: 95%;
  margin: 4%;
}

.studentForm {
  width: 90%;
  margin: 2.5%;
  padding: 1.5%;
}

.hr{
  display: none;
}

Form {
  padding: 5%;
  border: 1px solid darkgray;
  border-radius: 15px;
}

Label{
  font-weight: 800;
  color: rgba(0,0,0,0.75)
}

Input {
  border: 1.5px solid black;
  border-radius: 15px;
  box-shadow: 
    2px 2px 5px rgba(0,0,0,0.5),
    10px 10px 15px rgba(0,0,0,0.5),
    -1px -1px 30px rgba(0,0,0,0.2)
  ;
}

button, Button {
  border: 1.5px solid black;
  border-radius: 15px;
  box-shadow: 
    2px 2px 5px rgba(0,0,0,0.5),
    10px 10px 15px rgba(0,0,0,0.5),
    -1px -1px 30px rgba(0,0,0,0.2)
  
}

.form-control {
  width: 90%;
  height: calc(1.75em + 0.75rem + 2px);
}

h2 {
  font-weight: 900;
  font-size: 2.8rem;
}

.card {
  border: 1.5px solid black;
  border-radius: 15px;
  background: #ecf0f1;
  box-shadow: 
    2px 2px 5px rgba(0,0,0,0.5),
    10px 10px 15px rgba(0,0,0,0.5),
    -1px -1px 30px rgba(0,0,0,0.2)
}




