.App {
  text-align: center;
}

.App-logo {
  width: 40%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

Input {
  margin: 1%;
}

Button {
  margin: 1%;
  padding: 1%;
}

#professor_message{
  height: 15%;
  width: 30%;
}
.message-form {
  width: 400px;
  border: 1px solid black;
  margin: 0 auto
}
.message-area {
  margin: 0 auto;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
}

.home_page {
  width: 95%;
  margin: 4%;
}
