.App {
  text-align: center;
}

.App-logo {
  width: 15%;
  padding: 0;
  margin: 0;
  align-self: baseline;
}

@media (max-width: 500px){
  .App-logo{
    width: 25%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

Input {
  margin: 1%;
}

Button {
  margin: 1%;
  padding: 1%;
}

#professor_message{
  height: 15%;
  width: 30%;
}
.message-form {
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 auto;
  background: #d1bfa7;
}
.message-area {
  margin: 0 auto;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
}

.home_page {
  width: 95%;
  margin: 4%;
}

.studentForm {
  width: 90%;
  margin: 2.5% auto;
  padding: 1.5%;
}

@media (max-width: 500px){
  .studentForm{
    width: 95%;
    margin: 1.5% auto;
  }
}

.hr {
  display: none;
}

Form {
  padding: 5%;
  border: 1px solid darkgray;
  border-radius: 15px;
}

Label{
  font-weight: 800;
  color: rgba(0,0,0,0.75)
}

@media(max-width: 1024px){
  Label {
    font-size: 2rem;
  }
}

Input {
  border: 1.5px solid black;
  border-radius: 15px;
  box-shadow: 
    2px 2px 5px rgba(0,0,0,0.5),
    10px 10px 15px rgba(0,0,0,0.5),
    -1px -1px 30px rgba(0,0,0,0.2)
  ;
  background: 8e8e90;
}

button, Button {
  border: 1.5px solid black;
  border-radius: 15px;
  box-shadow: 
    2px 2px 5px rgba(0,0,0,0.5),
    10px 10px 15px rgba(0,0,0,0.5),
    -1px -1px 30px rgba(0,0,0,0.2) 
}

@media (max-width: 1024px){
  button, Button, .btn {
    padding: 0.6rem 2.3rem;
    font-size: 1.5rem;
  }
}

.form-control {
  width: 90%;
  height: calc(1.75em + 0.75rem + 2px);
}

h2 {
  font-weight: 900;
  font-size: 2.8rem;
  color: #49494b;
}

.card {
  border: 1.5px solid black;
  border-radius: 15px;
  background:#f8f3f2;
  box-shadow: 
    2px 2px 5px rgba(0,0,0,0.5);
    /* 10px 10px 15px rgba(0,0,0,0.5); */
    /* -1px -1px 30px rgba(0,0,0,0.2); */
  margin: 5%;
}
.jumbotron{
  background: #d1bfa7;
}

.btn {
  background: #bd8c7d;
}

a {
  color: #bd8c7d
}

@media (max-width: 1024px){
    a{
      font-size: 1.7rem;
      
    }
}






